html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25pt;
    color: blueviolet;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0 0 10px 0;
    
}
h2 {
    color: midnightblue;
    text-align: center;
    font-size: 20pt;
    text-decoration: underline overline dotted red;
    padding: 20px 0 20px 0;
    margin: 0 0 10px 0;
}
.img-circle {
    border: 5px solid white;
    border-radius: 30%;
    
}
h3 {
    color: lightblue;
    text-align: center;
    font-style: italic;
}
body {
    background-color: chocolate;
    margin: 0px;
    font-family: 'Bilbo', cursive;
    font-size: 25pt;
    padding: 10px;
    text-align: center;
}

p {
    
    text-indent: 1px;
    text-decoration: lawngreen;
}

.nav-link-wrapper {
    font-size: 25px;
}
h1 {
    color: mediumturquoise;
    text-decoration: mediumvioletred;
    font-size: 30px;
}


