body {
    font-size: large;
}

h2 {
    color: blue;
    text-align: center;
    font-style: inherit;
    

}
body {
    background-color: chocolate;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration-color: blueviolet;
}