h2 {
    color: midnightblue;
    text-align: center;
}

h3 {
    color: lightblue;
    text-align: center;
    font-style: italic;
}
body {
    background-color: chocolate;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

p {
    
    text-indent: 1px;
    text-decoration: lawngreen;
}

.nav-link-wrapper {
    font-size: 25px;
}
h1 {
    color: mediumturquoise;
    text-decoration: mediumvioletred;
    font-size: 30px;
}


